[Unit]
Description = symbol testnet

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart = /usr/bin/symbol-bootstrap start -p testnet -a dual -c /home/ubuntu/custom-preset.yml
Restart = always
RestartSec=60
Type = simple

[Install]
WantedBy = multi-user.target